
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Mulish', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.display-none {
  @apply hidden;
}


.description p span.highlight {
  color: #fff;
  animation: 5s ease-in-out 0s 1 flash;
}

.description p span.highlight.two {
  animation: 5s ease-in-out 0s 1 flashTwo;
}

.description-dark p span.highlight {
  color: #000;
  animation: 5s ease-in-out 0s 1 flashDark;
}



@keyframes flash {
  0% {
    color: #777778;
  }

  20% {
    color: #cecece;
  }

  30% {
    color: #ffffff;
  }

  40% {
    color: #b4b4b4;
  }

  45% {
    color: #777778;
  }

  100% {
    color: #fff;
  }
}

@keyframes flashTwo {
  0% {
    color: #cecece;
  }

  20% {
    color: #fff;
  }

  30% {
    color: #777778;
  }

  40% {
    color: #cecece;
  }

  45% {
    color: #777778;
  }

  100% {
    color: #fff;
  }
}

@keyframes flashDark {
   0% {
    color: #333; 
  }

  20% {
    color: #777; 
  }

  30% {
    color: #555; 
  }

  40% {
    color: #999;
  }

  45% {
    color: #bbb; 
  }

  100% {
    color: #000
  }
}